AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

MS_ENTRA_CLIENT_ID=
MS_ENTRA_CLIENT_SECRET=
MS_ENTRA_TENANT_ID=

DOCSOC_DATABASE_URL=""


EACTIVITIES_API_KEY=
EACTIVITIES_CENTRE_NUMBER="605"
ROOT_USER_EMAIL="guilds.docsoc@imperial.ac.uk"
