Dear {{ name }} ({{ shortcode }}),

We are writing to you because you recently purchased a Duck T-Shirt (Medium) from the Union Shop, and are yet to collect it.

Unfortunately, we must regret to inform you that we do not have enough t-shirts to fulfil your order, due to an error when counting stock.

As such, we are unable to provide you with the t-shirt you ordered. We are very sorry for this mistake, and we will be refunding you the full amount you paid for the t-shirt.

The refund should process in 2 weeks - if not, please let us know.

Our apologies for any inconvenience this might have caused you.

Kind regards,
DoCSoc Committee.