Hi {{ name }},

You are yet to collect the following DoCSoc merchandise that you bought from the Union Shop, either in this academic year or last academic year:
{% for item in itemsToCollect %}
- {{ item.rootitem }} {{ item.variant }} x{{ item.quantity }} {% endfor %}

(note that the above includes freshers' merchandise automatically if you are a 1st year)

Please note that uncollected merch may not be refunded after the last collection.

Please collect your merch at **one of our last collection dates**:
- Monday 4th Nov, 4:15pm-6pm, Huxley 315
- Friday 8th Nov, 3pm-5pm, Huxley 315 (changed from earlier announcement)

**Merchandise will no longer be available for collection after these dates.**

If you are unable to collect your merch, please let us know before the last collection. You can also arrange for a friend to collect your merch on your behalf, so long as you provide us with their shortcode in advance by replying to this email.

If you have already collected your merch, didn’t buy any merch or otherwise believe this email was sent incorrectly, please let us know!

Kind regards,
DoCSoc Committee.